<div class="container-fluid">
    <emp-count 
        [all]="getAllEmployeeCount()" 
        [male]="getAllMaleEmployeeCount()" 
        [female]="getAllFemaleEmployeeCount()"
        (customEventForRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)"
        (customEventFoSearchSelection)="onSearchChanges($event)">
    </emp-count>
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <td>Employee Name</td>
                <td>Employee Gender</td>
                <td>Contact</td>
                <td>Email</td>
                <td>Address</td>
            </tr>
        <ng-container *ngFor="let i of employeeData">
            <tr *ngIf="selectedEmployeeCountRadioButton=='all'
                    || selectedEmployeeCountRadioButton==i.gender">
                <td>{{i.name | genderPipe : i.gender}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.email}}</td>
                <td>{{i.address}}</td>
            </tr>
        </ng-container>
        </table>
    </div>
</div>
